@import url(/css/reset.css);
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;1,600&family=Poppins:wght@200;400;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
.nav {
  border-bottom: 1px solid #c4c4c4;
}
.nav__logo {
  color: #1090cb;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
}
.nav__links {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 33px 0;
}
.nav_services {
  display: flex;
}
.nav__links {
  display: flex;
  align-items: center;
  gap: 70px;
}
.nav__button {
  margin-left: 70px;
}
.nav__container {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}
.nav__button {
  border-radius: 6px;
  background: #1090cb;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  padding: 11px 26px;
}
.nav__links li {
  font-size: 16px;
}

header .container {
  max-width: 1140px;
  padding: 78px 15px 71px;
  margin: 0 auto;
}
.header__des {
  color: #696969;
  text-align: center;
  font-size: 18px;
  line-height: 189.5%;
  max-width: 440px;
  margin: 0 auto 52px;
}
.header__title span {
  color: #1090cb;
  font-size: 42px;
  font-weight: 700;
}
.header__title {
  color: #000;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  max-width: 318px;
  margin: 0 auto 18px;
}

.header__wrapper {
  margin: 0 auto;
  max-width: 900px;
}
.header__search_block {
  text-align: center;
  margin-bottom: 77px;
}
.header__search {
  display: inline-flex;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.header__search-icon {
  max-width: 20px;
  height: 20px;
  margin-right: 10px;
  order: -1;
}

.header__search-field {
  max-width: 400px;
  border: 0;
}

.header__search-field:focus {
  outline: none;
}

.header__search-field:focus + .header__search-icon {
  /* стили для иконки при фокусе поля */
}
.header__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  
}
.header__button {
  max-width: 162px;
  height: 48px;
  border-radius: 30px;
  background: #e7eff3;
  color: #1090cb;
  text-align: center;
  font-size: 14px;
  line-height: 177.9%; /* 24.906px */
  letter-spacing: 0.14px;
  padding: 11px 34px;
}
.header__button:hover {
  color: #fff;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.14px;
  border-radius: 30px;
  background: #1090cb;
  max-width: 162px;
  height: 48px;
}
.info__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.info__title {
  color: #000;
  max-width: 525px;
  font-size: 27px;
  font-weight: 600;
  line-height: 177.9%; /* 48.033px */
  letter-spacing: 0.27px;
  margin-top: 12px;
  max-width: 525px;
}
.info__des {
  color: #424242;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 210.9%; /* 33.744px */
  letter-spacing: 0.16px;
  max-width: 525px;
  margin: 33px auto 17px;
}
.info__name_blog {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 15px;
}
.info__name {
  display: flex;
  justify-content: space-between;
}
.info__value {
  margin: 0 auto;
}
.info__amount-name {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 210.9%; /* 37.962px */
  letter-spacing: 0.18px;
}
.info__amount-date {
  color: #7b7b7b;
  font-size: 14px;
  font-weight: 400;
  line-height: 210.9%; /* 29.526px */
  letter-spacing: 0.14px;
}
.info__read {
  color: #1090cb;
  font-size: 14px;
  line-height: 177.9%; /* 24.906px */
  letter-spacing: 0.14px;
}
.info__red_blog {
  display: flex;
  align-items: center;
  align-content: center;
}
.info .container {
  max-width: 1240px;
  padding: 0 15px;
  margin: 0 auto;
}
.main__title {
  color: #000;
  font-size: 23px;
  font-weight: 600;
  line-height: 177.9%; /* 40.917px */
  letter-spacing: 0.23px;
  max-width: 333px;
  margin: 40px 0;
}
.main__des {
  color: #424242;
  font-size: 16px;
  line-height: 210.9%; /* 33.744px */
  letter-spacing: 0.16px;
  max-width: 333px;
  margin-bottom: 19px;
}
.main__person{
  display: flex;
  gap:21px;
}
.main__name{
  color: #000;
font-size: 18px;
font-weight: 500;
line-height: 210.9%; /* 37.962px */
letter-spacing: 0.18px;
}
.main__date{
  color: #7B7B7B;
font-size: 14px;
line-height: 210.9%; /* 29.526px */
letter-spacing: 0.14px;
}
.main__wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
main .container{
  max-width: 1240px;
  padding: 0 15px;
  margin: 0 auto;
}
.main__section{
  margin-top: 136px;
}
.form {
  background: #e8f4fa;
}
.form__info {
  display: flex;
  align-content: center;
  justify-content: center;
}

.form__title {
  color: #252525;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  max-width: 516px;
  text-align: center;
  margin: 148px 0 80px;
}
.form__contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form__text {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 84px 0px rgba(0, 0, 0, 0.07);
  max-width: 532px;
  padding: 20px 0 20px 36px;
}

.form__button {
  color: #fff4f4;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  background: #000;
  padding: 20px 43px;
}
.form__contact {
  gap: 14px;
  padding-bottom: 200px;
}
.form {
  position: relative;
  margin-top: 159px;
}
.form__logo {
  position: absolute;
  transform: rotate(-24.8deg);
  top: -45px;
  left: 100px;
}
.form__info__logo {
  position: absolute;
  right: 350px;
  top: 100px;
  transform: rotate(-250.8deg);
}
.form__info {
  position: relative;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px;
  margin: 82px auto 62px;
}
footer .container {
  max-width: 1100px;
  padding: 0 15px;
  margin: 0 auto;
}
.footer__social {
  display: flex;
  gap: 16px;
  align-items: flex-end;
}
.footer__social li img {
  background: #fff;
  max-width: 34px;
  height: 34px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(157, 171, 182, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(157, 171, 182, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(157, 171, 182, 0.2);
  border-radius: 40%;
  padding: 11px;
}
.footer__logo__home {
  color: #000;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 27px;
}
.footer__logo li {
  color: #515151;
  font-size: 16px;
}
.footer__logo .footer__logo-blue {
  color: #00329b;
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 27px;
}
.footer__categori {
  margin-top: 17px;
}
.footer__section {
  margin-bottom: 5px;
}
.footer__logo__lorem {
  margin-top: 17px;
}
.footer__logo__home {
  color: #000;
  font-size: 17px;
  font-weight: 600;
}
.footer__line {
  border-bottom: 1px solid #d2d2d2;
}
.footer__copyright {
  color: #686868;
  font-size: 13px;
  text-align: center;
  margin: 29px 0;
}
@media (max-width: 1100px) {
  .info__wrapper{
    justify-content: center;
  }
  .info__title {
    margin-top: 50px;
  }
}
@media (max-width: 940px) {
  .header__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header__buttons {
    justify-content: center;
    gap: 15px;
  }
}
@media (max-width: 780px) {
  .nav_services{
    display: none;
  }
}
@media (max-width: 690px) {
  .main__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main__section {
    margin-top: 166px;
}
}

@media (max-width: 480px) {
  .form__info__logo{
    display: none;
  }
}
@media (max-width: 450px) {
  .form__button{
    margin-top: 10px;
  }
}
